*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: linear-gradient(to bottom right, rgb(253, 77, 239), rgb(196, 14, 241) ); */
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10% 50%; */
    position: absolute;
    transform: translate(0%, 88%);
}
.player--1{
    height: 350px;
    width: 350px;
    background-color: white;
    text-align: center;
}
.player--1 h2{
margin-top: 1rem;
}
.player--2 h2{
margin-top: 1rem;
}
.player--1 h1{
    font-size: 3rem;
}
.player--2 h1{
    font-size: 3rem;
}
.player--2{
    height: 350px;
    width: 350px;
    background-color: whitesmoke;
    text-align: center;
}
.current{
    background-color: brown;
    width: 120px;
    height: 80px;
    text-align: center;
    margin: 45% 35%;
    border-radius: 10px;
}
.current p:nth-child(1){
    /* margin-top: 150px; */
    padding-top: 20px;
    color: aliceblue;
    font-size: 15px;
    /* display: none; */
}
.current p:nth-child(2){

    color: #fff;
    /* margin-top: 150px; */
    padding-bottom: 20px;
    /* display: none; */
    /* display: none; */
}
#currentScore--1{
    font-size: 30px;
}
#currentScore--2{
    font-size: 30px;
}
img{
    /* display: none; */
    position: absolute;
    width: 100px;
    height: auto;
}
.btn{
    background-color: azure;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px;
}
.btn:hover{
    background-color: brown;
    color: #fff;
}
#restart{
position: absolute;
top: 15px;

}
#roll-dice{
position: absolute;
bottom: 60px;
}
#hold{
position: absolute;
bottom: 15px;
}